   <!-- Robot list view -->
    <div data-role="view" id="MatchList" data-before-show='populateMatchList' data-title="Match Listings"  data-model="matchesViewModel">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-align="left" data-role="button" onClick="syncAll();" data-icon="action">Sync</a>
                <span id="addNewMatch"><a data-align="right" data-role="button" href="#MatchEditor" data-bind="click: newMatch" data-icon="add">New</a></span>
            </div>
        </header>
        <footer data-role="footer">
            <div data-role="tabstrip">
                <a href="#home" data-icon="home">Home</a>
            </div> 
        </footer>

        <div id="matchListView">
        </div>
        
    	<script id="MatchListItem" type="text/x-kendo-template">
            <a href="##MatchEditor" class="km-listview-link" data-role="listview-link">
            <span style='background-color: ${allianceColor}'><b>Match ${Match}</b> <i>${Team1}, ${Team2}, ${Team3}</i></span>
        	</a>
            
        </script>               
        
    </div>