    <!-- Robot editor view -->
    <div data-role="view" id="MatchEditor" data-title="Edit Game" data-init="initPage" data-model="matchesViewModel">
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" data-bind="visible: Match.isNew" data-role="backbutton">Back</a>
                <a data-align="left" data-bind="invisible: Match.isNew, click: saveMatch" data-role="button" >Save</a>
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" href="#:back" data-bind="invisible: Match.isNew, click: removeMatch">Remove</a>
                <a data-align="right" data-role="button" data-bind="visible: Match.isNew, click: saveMatch">Save</a>
            </div>
        </header>
        
       <br>
        <div id="score" style="text-align: center; width: 500px; height: 25px; font-size: 20px; color: #FFF; margin-top: 10px; display: block; margin: 0 auto; border: 1px solid #000; background-color: rgb(1, 133, 67);">
			<span data-bind="text: allianceColor" id="alianceColor"></span> Alliance
        </div>                     
        
        <div class="gameInfo">
            <ul data-role="listview">
                <li>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td align=right><span data-role="button" class="sub" id="matchNumberSub">-</span></td>
                                <td align=center><span class="cycleText">Match: 
                                    <span id="matchNumber" data-bind="text: match">1</span></span></td>
                                <td align=left><span data-role="button" class="add" id="matchNumberAdd">+</span></td>
                            </tr>
                        </table>
                </li>
            </ul>
        </div>
        <div class="gameInfo">
            <ul data-role="listview">
                <li><center>
                        <span data-role="button" data-align="right" id="prevCycle">&lt;</span>Cycle: 
                        <span id="currentCycle" data-bind="text: cycle">A</span>
                    	<span data-role="button" data-align="right" id="nextCycle">&gt;</span>
				    </center>
                </li>
            </ul>        
        </div>
        <div class="gameInfo">
            <ul data-role="listview">
                <li><b>Venue:</b> <span data-bind="text: venue" id="venueDisplay"></span></li>
            </ul>            
        </div>

        <br clear="all">

        <div class="column">
			<ul data-role="listview" data-style="inset">
            	<li class="auto">Team 3: <input type=number data-bind="value: team3"></li>
                <li class="cycle">Team 3: <span id='team3Display'></span></li>
                <!-- ---------------------------------- Auto ----------------------------------- -->
                <li class="auto"><label><input type="checkbox" data-bind="checked: team3High">High Goal</label></li>
                <li class="auto"><label><input type="checkbox" data-bind="checked: team3Low">Low Goal</label></li>                
                <!-- ---------------------------------- Cycle ---------------------------------- -->
				<li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: threeLight" class="tenPoint">Three Light</label></li>
                <li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: team3Truss" class="tenPoint">Truss</label></li>
                <li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: team3Catch" class="tenPoint">Catch</label></li>
                <li class="cycle">
                    <label><input type="checkbox" data-bind="checked: team3HighScore" class="tenPoint">High Score</label></li>
                <li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: team3LowScore" class="onePoint">Low Score</label></li>
            </ul>
        </div>
                <!-- -------------------------------- End Cycle -------------------------------- -->     
        <div class="column">
			<ul data-role="listview" data-style="inset">
            	<li class="auto">Team 2: <input type=number data-bind="value: team2"></li>
                <li class="cycle">Team 2: <span id='team2Display'></span></li>
                <!-- ---------------------------------- Auto ----------------------------------- -->
                <li class="auto"><label><input type="checkbox" data-bind="checked: team2High">High Goal</label></li>
                <li class="auto"><label><input type="checkbox" data-bind="checked: team2Low">Low Goal</label></li>
                
                <!-- ---------------------------------- Cycle ---------------------------------- -->
				<li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: twoLight" class="tenPoint">Two Light</label></li>
                <li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: team2Truss" class="tenPoint">Truss</label></li>
                <li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: team2Catch" class="tenPoint">Catch</label></li>
                <li class="cycle">
                    <label><input type="checkbox" data-bind="checked: team2HighScore" class="tenPoint">High Score</label></li>
                <li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: team2LowScore" class="onePoint">Low Score</label></li>
            </ul>
        </div>
                <!-- -------------------------------- End Cycle -------------------------------- -->     
        <div class="column">
			<ul data-role="listview">
            	<li class="auto">Team 1: <input type=number data-bind="value: team1"></li>
                <li class="cycle">Team 1: <span id='team1Display'></span></li>
                <!-- ---------------------------------- Auto ----------------------------------- -->
                <li class="auto"><label><input type="checkbox" data-bind="checked: team1High">High Goal</label></li>
                <li class="auto"><label><input type="checkbox" data-bind="checked: team1Low">Low Goal</label></li>
                
                <!-- ---------------------------------- Cycle ---------------------------------- -->
				<li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: oneLight" class="tenPoint">One Light</label></li>
                <li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: team1Truss" class="tenPoint">Truss</label></li>
                <li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: team1Catch" class="tenPoint">Catch</label></li>
                <li class="cycle">
                    <label><input type="checkbox" data-bind="checked: team1HighScore" class="tenPoint">High Score</label></li>
                <li class="cycle">  
                    <label><input type="checkbox" data-bind="checked: team1LowScore" class="onePoint">Low Score</label></li>
             </ul>

        </div>
                <!-- -------------------------------- End Cycle -------------------------------- -->     
        
        <footer data-role="footer">
            <div data-role="tabstrip">
                <a href="#home" data-icon="home">Home</a>
                <a href="#MatchList" data-icon="organize">Match List</a>
            </div> 
        </footer>
    </div>    
