    <!-- Robot editor view -->
    <div id="RobotEditor"
         data-role="view" 
         data-model="viewModel" 
         data-title="Edit Robot" 
         data-zoom="true"
         data-before-show="decodeJson">
        
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" data-role="backbutton">Back</a>
                <span data-align="right" onClick="saveRobot();" data-role="button" >Save</span>
                <span data-role="view-title"></span>
            </div>
        </header>
        <div>
        <form id="categoryFrom">
            
                <div id="one">
                    <a class="button" data-role="button" data-icon="camera" style="float: right;"
                                        onClick="capturePhoto();"></a>
                    <h1 id='robotNameDisplay' style="line-height: 10px;"></h1>
                    <h2 id='robotNumberDisplay' style="line-height: 10px;"></h2>
                    
                    <center>
                        <img id="smallImage" style="max-height: 30%; max-width: 100%;">
                    </center>
                    <br>
                </div>	 

            <div>
                            <ul data-role="listview" data-style="inset">
                                <li>Scout: <select id='robotScout'><option></option><option>Juliet</option><option>Michael</option></select></li>
                                <li>Name:<input id='robotName' placeholder="Enter Team Name" required type="text"/></li>
                                <li>Team Number:<input id='robotNumber' placeholder="Enter Team Number" required type="text"/></li>
                                <li>Rookie Year:<input id='robotstartDate' required type="text"/></li>
                                <li>City:<input id='robotcity' required type="text"/></li>
                                <li>State:<input id='robotstate' placeholder="Enter Team Number" required type="text"/></li>
                                <li>Drive Train: <input id='robotDrive_Train' placeholder="Enter Drive Train Type" type="text"/></li>
                                <li>Robot Type: <input id='robotRobot_Type' placeholder="Enter Robot Type" type="text"/></li>
                                <li>Auton?: <select id='robotAuton'><option></option><option>Yes</option><option>No</option></select></li>
                                <li>Auton Goal?: <select id='robotAim_Auton'><option></option><option>Low</option><option>High</option></select></li>
                                <li>Track Hot?: <select id='robotHot'><option></option><option>Yes</option><option>No</option></select></li>
                                <li>Auton Move?: <select id='robotZone'><option></option><option>Yes</option><option>No</option></select>
                                <li>Auton Defender?: <select id='robotDefender'><option></option><option>Yes</option><option>No</option></select></li>
                    			<li>Over the Truss?: <select id='robotTruss'><option></option><option>Yes</option><option>No</option></select></li>
                                <li>Catch Passes?: <select id='robotPasses'><option></option><option>Yes</option><option>No</option></select></li>
                        		<li>Comments: <textarea id='robotcomment'></textarea></li>

                                <li>OPR: <span id='robotopr' style="float: right;"></span></li>
                                <li>DPR: <span id='robot.dpr' style="float: right;"></span></li>
                                <li>OPR Rank: <span id='robotoprrank' style="float: right;"></span></li>
                                <li>OPR Percentage: <span id='oprpercent' style="float: right;"></span></li>

                                <li><div id="blueAlliance"></div></li>
                     </ul>
                	
                </div>
        </form>
        </div>
        
        <footer data-role="footer">
            <div data-role="tabstrip">
                <a href="#home" data-icon="home">Home</a>
                <a href="#RobotList" data-icon="organize">Robot List</a>
            </div> 
        </footer>
    </div>    
