   <!-- Robot list view -->
    <div data-role="view" id="RobotList" data-model="viewModel" data-title="Scouting" data-before-show="initRobotList">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" href="#RobotEditor" data-bind="click: newRobot" data-icon="add">New</a>
            </div>
        </header>
        <footer data-role="footer">
            <div data-role="tabstrip">
                <a href="#home" data-icon="home">Home</a>
            </div> 
        </footer>       
        <div class="progress"></div>
     
         <ul id="robotListView"></ul>
                
    </div>