   <!-- Robot list view -->
    <div data-role="view" id="RobotList" data-model="viewModel" data-title="Scouting">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <!--a data-align="left" data-role="button" data-bind="click: syncAll" data-icon="action">Sync</a-->
                <a data-align="right" data-role="button" href="#RobotEditor" data-bind="click: newRobot" data-icon="add">New</a>
            </div>
        </header>
        <footer data-role="footer">
            <div data-role="tabstrip">
                <a href="#home" data-icon="home">Home</a>
            </div> 
        </footer>
      
        <div style="float: right; display: none;">
            Sort by:
                <select style="width: 80px" id="sortby" name="sortby">
                    <option value="" selected="">---</option>
                    <option value="Name">Name</option>
                    <option value="Number">Number</option>
                </select>
        </div>
        
        <div id="status" style='border-radius: 5px; border: 1px dashed #000; width: 80%; margin: 0 auto; margin-top: 10px; height: 25px; text-align: center;'>
            
        </div>
<a data-role="button" data-bind="click: updateRobotsDB">Discard Changes and Update List</a>
        <ul id="listView"
            data-role="listview"
            data-template="RobotListItem"
            data-bind="source: Robots, events: { click: selectRobot }">
        </ul>
        
    	<script id="RobotListItem" type="text/x-kendo-template">
            <a href="##RobotEditor" class="km-listview-link" data-role="listview-link">
            <b>${Number}</b> : <b>${Name}</b>
               <span style="float: right; margin-right: 25px;">
               	<i>( Last Modified: #= kendo.toString(Last_Modified, 'MM/dd/yyyy HH:mm')# )</i>
        	   </span>
            	<span style="float: right; margin-right: 25px;">
               	<b>OPR:</b> ${opr}
        	   </span>
            </a>
            
        </script>               
        
    </div>