<!-- Tablet Setup view -->
<div data-role="view" id="setupTablet" data-title="Setup Tablet" data-init="initSetup">
    <header data-role="header">
        <div data-role="navbar">
            <a data-align="left" onClick="saveSetup();" data-role="button">Save</a>
            <span data-role="view-title"></span>
        </div>
    </header>

    <ul data-role="listview" data-style="inset" id="setupList">
        <li><label>Alliance Color <select id="color"><option>Blue</option><option>Red</option></select>
            </label></li>
        <li><label>Event ID <input type=text id="venue"></label></li>
        <li><label>Server IP <input type=text id="serverIp"></label></li>
		<li><label><br><br></label><center><a data-role="button" onClick="exportTeamList();" data-role="button">Export Teams</a></center></li>
        <li><label></label><center><a data-role="button" onClick="importTeamList();" data-role="button">Import Teams</a></center></li>
    </ul>
    <br><br><br>
    <ul data-role="listview" data-style="inset">
        <li style="border: 1px solid #FF0000; background-color: #FF0000; color: #FFF;"><a data-align="left" onClick="emptyDatabase();" data-role="button">Empty Databases</a></li>
    </ul>
    
    
    <footer data-role="footer">
        <div data-role="tabstrip">
            <a href="#home" data-icon="home">Home</a>
        </div> 
    </footer>
</div>    