.progress {
    width: 100%;
    height: auto;
    text-align: center;
}
.wrapper { 
  overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}
#one {
  width: 100%;
}
#two { 
  background-color: white;
  min-height:170px;
}

@media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
    height: 50%;
    max-width: 600px;
  }
}

.column {
    width: 32%;
	display: block;
    padding: 0px;
    border: 1px solid #dcdcdc;
    float: right;
}

.gameInfo {
    width: 33%;
	display: block;
    padding: 0px;
	float: left;
    background-color: #FFF;
}




.km-button {
    background-color: rgb(1, 133, 67) !important;
}

.km-text {
    color: #FFFFFF;
}

.km-blackberry .km-view .km-content .km-list .km-state-active .km-listview-link .km-widget .km-button {
    background-color: rgb(1, 133, 67) !important;
}
.km-blackberry .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(1, 133, 67);
}
.km-blackberry .km-view .km-navbar {
    background-color: rgb(1, 133, 67);
}
.km-blackberry .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}
.km-blackberry .km-view .km-navbar .km-button {
    color: rgb(1, 133, 67);
}
.km-blackberry .km-view .km-navbar .km-button {
    background-color: rgb(229, 229, 229);
}

.km-blackberry .km-touch-scrollbar .km-vertical-scrollbar {
    background-color: rgb(1, 133,67) !important;
}

.km-blackberry .km-switch-handle .km-switch-background {
    color: #018543 !important;
}

.km-blackberry .km-listview-label input[type=radio]:checked, .km-blackberry .km-listview-label input[type=checkbox]:checked {
    background-color: rgb(1, 133, 67);
}

.cycleText {
    display: block;
    width: 60px;
}
